<nav class="navbar navbar-xs navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular-On-Wheels</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Front-End</a></li>
            <li><a href="#">Backend</a></li>
            <li><a href="#">Tools</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                 <a class="myAnchor glyphicon glyphicon-log-in"  appModalTrigger="signUp"> Sign-Up</a>
            </li>
            <li>
                <a *ngIf ="!userService.isAuthenticated()" class="myAnchor glyphicon glyphicon-log-in" appModalTrigger="login"> Login</a>
                <a *ngIf ="userService.isAuthenticated()" class="myAnchor glyphicon glyphicon-log-in" appModalTrigger="updateUser"> Welcome {{userService.getCurrentUserName()}}</a>
            </li>
        </ul>

        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input class="form-control" name="search" type="text" placeholder="Search" />
            </div>
            <button class="btn btn-xs"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>
</nav>

<app-signup-modal elementId="signUp">
</app-signup-modal>


<app-login-modal elementId="login">
</app-login-modal>

<app-updateuser-modal elementId="updateUser">
</app-updateuser-modal>