<div class="col-sm-4 col-md-4">
    <div class="well hoverwell thumbnail">
        <img src="../../assets/java9.jpg" alt="Java 9">

    </div>
</div>

<div class="col-sm-4 col-md-4">
    <div class="well hoverwell thumbnail">
        <img src="../../assets/python.jpg" alt="Python">

    </div>
</div>

<div class="col-sm-4 col-md-4">
    <div class="well hoverwell thumbnail">
        <img src="../../assets/Spring-Boot.png" alt="Spring Boot">

    </div>
</div>

<div class="col-sm-4 col-md-4">
    <div class="well hoverwell thumbnail">
        <img src="../../assets/angular.jpg" alt="Angular">

    </div>
</div>

<div class="col-sm-4 col-md-4">
    <div class="well hoverwell thumbnail">
        <img src="../../assets/npm.jpg" alt="NPM">

    </div>
</div>

<div class="col-sm-4 col-md-4">
    <div class="well hoverwell thumbnail">
        <img src="../../assets/datastruct.jpg" alt="Data Structure"/>

    </div>
</div>


