<div class="container">
    <ol class="breadcrumb pull-right">
        <li><a [routerLink]="['/app-dashboard']">Home</a></li>
        <li class="active">{{mainTopicName}}</li>
        <div *ngIf = "userLoggeIdIn !== null && userLoggeIdIn !== undefined">
          <app-favourite-component></app-favourite-component>
        </div>
    </ol>
    <h3>{{mainTopicName}}</h3>
    <hr>
    <div class="col-lg-4 col-md-4" *ngFor="let subTopics of subtopicResponse">
        <div>
            <app-collapsible-well>
                <div well-title>
                    {{subTopics.subTopicName}}
                </div>

                <div well-body>
                    <div *ngFor="let subListings of subTopics.subListings">
                        <a (click)="getListing(subListings)">{{subListings.subListingName}}</a>
                    </div>
                </div>
            </app-collapsible-well>
        </div>
    </div>
</div>