<div class="container">
    <ol class="breadcrumb pull-right">
        <li><a [routerLink]="['/app-dashboard']">Home</a></li>
        <li *ngIf="mainTopicName !== undefined"><a [routerLink]="['/subtopics',maintopicId,mainTopicName]">{{mainTopicName}}</a></li>
        <li class="active">{{listingName}}</li>
    </ol>

    <div class="row">
        <div class="col-md-8">
            <h3>{{listingName}}
                <app-favourite-component *ngIf="userLoggeIdIn !== null && userLoggeIdIn !== undefined" (vote)="checkUncheckFavourite($event)"
                    [voted]="alreadyLikeUnlike"></app-favourite-component>
            </h3>
        </div>
    </div>
    <hr>
    <div class="well mainDesc" *ngFor="let listing of subListingResponse">
        <h4 class="text-primary">{{listing.title}}</h4>

        <div class="preDesc" *ngFor="let predesc of listing.preDescription">
            <p>
                {{predesc}}
            </p>
        </div>

        <div class="note" *ngFor="let note of listing.note">
            <p>
                {{note}}
            </p>
        </div>

        <div class="mainDesc" *ngFor="let mainDesc of listing.mainDescription">
            <p>
                {{mainDesc}}
            </p>
        </div>

        <div *ngIf="listing.image">
            <img src="../../assets/listings/{{listing.image}}" class="img-rounded img-responsive">
            <br/>
            <br/>
        </div>

        <div *ngIf="listing.code" class="codeList">
            <code *ngFor="let code of listing.code">
                {{code}}<br/>
            </code>
        </div>

        <div class="postDesc" *ngFor="let postDesc of listing.postDescription">
            <p>
                {{postDesc}}
            </p>
        </div>
    </div>

    <div class="row container">
        <div class="pull-left mainDesc" *ngIf="prevName !== 'NONE' && prevName !== null && prevName !== undefined">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <a (click) = "routeIt(prevName,prevLink)" class="curPointer">{{prevName}}</a>
        </div>
        <div class="pull-right mainDesc" *ngIf="nextName !== 'NONE' && nextName !== null && nextName !== undefined">
           <a class="curPointer" (click) = "routeIt(nextName,nextLink)">{{nextName}}</a> <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div> 
    </div>

    <hr/>
    <div *ngIf="showComments" id="disqus_thread"></div>
</div>