<div class="container">

    <div class="row visible-md visible-lg">
        <div class="carousel slide" id="theCarousal" data-interval="3000">

            <ol class="carousel-indicators">
                <li data-target="#theCarousal" data-slide-to="0" class="active"></li>
                <li data-target="#theCarousal" data-slide-to="1"></li>
                <li *ngIf="carousalList.length > 2" data-target="#theCarousal" data-slide-to="2"></li>
                <li *ngIf="carousalList.length > 3" data-target="#theCarousal" data-slide-to="3"></li>
                <li *ngIf="carousalList.length > 4" data-target="#theCarousal" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img (click) = "openListing(carousalList[0])" src="../../assets/carousal/{{carousalList[0]?.carousalImage}}" alt="1" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>{{carousalList[0]?.carousalName}}</h4>
                        <p>{{carousalList[0]?.carousalDescription}}</p>
                    </div>
                </div>
                <div class="item">
                    <img (click) = "openListing(carousalList[1])" src="../../assets/carousal/{{carousalList[1]?.carousalImage}}" alt="2" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>{{carousalList[1]?.carousalName}}</h4>
                        <p>{{carousalList[1]?.carousalDescription}}</p>
                    </div>
                </div>
                <div *ngIf="carousalList.length > 2" class="item">
                    <img (click) = "openListing(carousalList[2])" src="../../assets/carousal/{{carousalList[2]?.carousalImage}}" alt="2" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>{{carousalList[2]?.carousalName}}</h4>
                        <p>{{carousalList[2]?.carousalDescription}}</p>
                    </div>
                </div>
                <div *ngIf="carousalList.length > 3" class="item">
                    <img (click) = "openListing(carousalList[3])" src="../../assets/carousal/{{carousalList[3]?.carousalImage}}" alt="2" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>{{carousalList[3]?.carousalName}}</h4>
                        <p>{{carousalList[3]?.carousalDescription}}</p>
                    </div>
                </div>
                <div *ngIf="carousalList.length > 4" class="item">
                    <img (click) = "openListing(carousalList[4])" src="../../assets/carousal/{{carousalList[4]?.carousalImage}}" alt="2" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>{{carousalList[4]?.carousalName}}</h4>
                        <p>{{carousalList[4]?.carousalDescription}}</p>
                    </div>
                </div>
            </div>

            <a href="#theCarousal" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
            <a href="#theCarousal" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>
        </div>
    </div>
    <h3 class="container large text-left">
    </h3>
    <hr>
    <div class="row">
        <div *ngFor="let topicsIter of topicsArray" class="col-md-4 col-lg-4">
            <app-topics-thumbnail [topic]="topicsIter"></app-topics-thumbnail>
        </div>
    </div>
</div>