/* You can add global styles to this file, and also import other style files */

/* app css stylesheet */
.hoverwell:hover {
  background-color: #487769;
  cursor: pointer;
}

.myAnchor {
  cursor: pointer;
}
