/* You can add global styles to this file, and also import other style files */
@import "./bootstrap-social.css";

/* app css stylesheet */
.hoverwell:hover {
  background-color: #487769;
  cursor: pointer;
}

.myAnchor {
  cursor: pointer;
  padding: 14px 5px 0px 0px;
}

.capitalize {
   text-transform: capitalize;
}

body {
  /*margin-top: 70px;
  margin-bottom: 50px;*/
  font-family: Roboto,arial,sans-serif;
  font-size: 13px;
}


div.abcRioButton.abcRioButtonLightBlue{
    background-color: #222;
    color: #9d9d9d;
    padding-top: 9px;
}

span.abcRioButtonContents{
padding-right: 40px
}

.navbar {
  position: relative;
  min-height: 20px;
  border: 1px solid transparent;
}

div.abcRioButton:hover{
  box-shadow: 0 0 3px 3px rgb(34, 34, 34);
}

.navbarPic{
  border-radius: 25px;
  width: 30px;
  height: 30px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #222;
    border-color: #337ab7;
}

.navDropDown{
  top: 120%;
}

.modal-backdrop {
    z-index: 1029;
}

.navbar-inverse {
    background-color: #39424e;
    border-color: #39424e;
}

.fa-star-o:before {
    content: "\F006";
    color: yellowgreen;
}