<div class="myAnchor dropdown">
    <button *ngIf="showLogin" class="btn btn-social-icon btn-xs btn-google" (click)="onGoogleLogin()"><span class="fa fa-google"></span></button>

    <li *ngIf="!showLogin" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img class="navbarPic" src="{{response.image.url}}"/></a>
        <ul class="dropdown-menu navDropDown">
            <li><a appModalTrigger="userProfile"><span class="capitalize glyphicon glyphicon-user"> Hi,{{ response.name.givenName }}</span></a></li>
            <li><a (click)="signOut()"><span class="capitalize glyphicon glyphicon-log-out"></span> Sign Out</a></li>
        </ul>
    </li>
</div>

<app-search-modal elementId="userProfile" title="My Profile">
    <div class="row">
        <div class="col-md-6">
            <p class="pull-center">Your Total Visits To The Site: <span class="badge badge-primary">15</span></p>
        </div>
        <div class="col-md-6">
            <p class="pull-right">Total Topics Present: <span class="badge">25</span></p>
        </div>
        <div class="col-md-12">
            <p class="pull-right">Number Of Topic(s) Viewed: <span class="badge">1</span></p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <h4>Recently Viewed</h4>
        </div>
        <div class="col-md-4">
            <h4 class="pull">Learning Level</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                    style="width:40%">
                    40%
                </div>
            </div>
            <img class="img-responsive img-circle" src="../../assets/profile-level/level1.jpg"/>
        </div>
        <div class="col-md-4">
            <h4 class="pull">Favourites <i class="fa fa-star-o" aria-hidden="true"></i></h4>
        </div>
    </div>
</app-search-modal>